
.container{
    background-image: url("../Images/coWorkingSpace2.jpg");
    width: 100vmax;
    height: 100vmax;
}
.blur{
    background-color: rgb(255, 255, 86);
    width: 100vmax;
    height: 100vmax;
    opacity: 0;
}