img {
  width: 90%;
  margin-left: 2%;
}

.inner-container {
  margin-top: 5%;
  display: flex;
  border: solid rgb(146, 102, 102) 1px;
}

.element {
  margin-left: 3%;
  margin-right: 3%;
  width: 80%;
}
