body{
    background-image: url("Images/background.jpeg");
}
.li{
    color: black;
    font: bold;
}
li a{
    text-decoration: none;
}
nav{
    height: 35px;
    margin-top: 29px;
    text-align: left;
}
.header{
    background-color: antiquewhite;
    height: 96px;
    -ms-flex-item-align: center;
}
.container{
    width: 80%;
    background-color: antiquewhite;
    margin-left: 10%;
}
ul{
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
}
li {
    padding: 5px 5px;
    padding-left: 2%;
    color: rgb(87, 118, 145);
    list-style: none;
    text-decoration: solid;
    text-size-adjust: 30px;
  }
 .main {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
}
.container3 {
    width: 40%;
    margin-right: 10%;
    box-shadow: h-offset v-offset blur spread color;
  }
  img{
    width: 40%;
  }
  .el1{
    margin-left: 4%;
  }
  .recipes{
    border-bottom: 2px solid rgb(145, 57, 57);
  }
  .container2 {
    width: 60%;
    border-right: 0.1px solid black;
  }
  .p {
    color: rgb(164, 67, 67);
    margin-left: 10%;
  }
  h2 {
    text-align: center;
    margin-top: 4%;
  }