body{
    background-color: rgb(226, 236, 236);
    padding: 8%;
    padding-left: 20%;
    align-items: center;
}
.body{
    background-color: white;
    margin-right: 30%;
    margin-left: 8%;
    padding: 3%;
}
.sub-container{
margin-left: 2%;

margin-right: 8%;
}
.field{
    padding: 3px;
}
button{
    margin-top: 2px;
    background-color: aquamarine;
}


.input{
    display: flex;
}
i{
    border: solid black 0.2px;
}

@media screen and (min-width: 800px){
    .container{
        background-color:white;
      display: flex;
     
    }
    .sub-container{
        margin-left: 5%;
        margin-right: 5%;
    }
}
h3{
    text-align: center;
}
button{
    width:90%;
    margin-left: 7%;
}