body {
    width: 960px;
    font-family: 'Arial', sans-serif;
    color: #fcfcfc;
    background-color: #355664;

}

.container {
    margin: 15px 30px;

}

h1 {
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
}

h3 {
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}

nav {
    background-color: #355664;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li {
    display: inline;
}

a {
    margin: 5px 2px;
    padding: 7px 10px 4px;
    font-size: 30px;
}

h2 {
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
}

.para1 {
    height: 20px;
    padding-bottom: 5px;
    color: #94c258;
}

.para2 {
    height: 20px;
    padding-bottom: 5px;
    color: white;
}

.article_image {
    border: 3px solid #142830;
    display: block;
    float: right;
    height: 300px;
    width: 500px;
    margin-left: 15px;
}

img {
    width: 500px;
    height: 300px;
    border: none;
}

.article_content {
    height: 430px;
    background-color: #213e4a;
    Padding: 10px;
    Margin: 0 0 10px;
}

footer {
    border-top: 3px solid #142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}