body{
    background-color: lightgray;
}
header{
    background-image: url("./food.jpg");
    background-size: cover;
    height: 100px;
    background-repeat: no-repeat;
    padding: 10px;
}
h1{
    text-align: center;
    color: black;
}
.container{
    display: flex;
    height: 100%;
    flex-direction: row;
    width: 100%;
}
.column{
    height: 100%;
    width: 70%;
    padding-left: 80px;
}
.column1{
    width: 30%;
    padding: 30px;
}
.column img{
    display: flex;
    width: 650px;
    height: 330px;
    padding: 10px;
}
.column1 img{
    width: 300px;
    height: 200px;
    padding: 10px;
}
button{
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    color: lightcoral;
}
button:hover{
    background-color: brown;
    color: white;
}
