.left,
.right,
.center {
margin-top: -20px;
text-align: center;
}
.container {
margin-top: -22px;
margin-bottom: -22px;
}
.left {
background-color: rgb(49, 182, 235);
}
.right {
height: 40px;
background-color: rgb(227, 12, 180);
}
.center {
height: 40px;
background-color: rgba(227, 255, 71, 0.929);
}
.footer {
text-align: center;
background-color: lawngreen;
}