.left, .right, .center {
   float: left;
   padding: 0px;
   height: 150px;
   text-align: center;
   }
   .container{
   margin-top: -22px;
   }
   .left {
   width: 23.33%;
   background-color: rgba(227, 255, 71, 0.929);
   }
   .right {
   width: 23.33%;
   background-color: rgb(227, 12, 180);
   }
   .center {
   width: 53.33%;
   background-color: rgb(49, 182, 235);
   }