.card-item{
    display: flex;
    justify-content: space-evenly;
    }
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    }
    .card:hover {
    box-shadow: 8px rgba(0,0,0,0.2);
    }
    img {
    border-radius: 5px 5px 0 0;
    width: 90%;
    margin-left: 2%;
    }
    .container {
    padding: 2px 16px;
    }



   
      
    