body{
padding: auto;
    background-color: rgb(116, 177, 116);
}
.container{
    background-color: rgb(179, 224, 179);
  
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
}
li{
    list-style: none;
    margin: auto;
    font-size: 25px;
}
header{
    border-bottom: solid black 2px;
}
.content{
    display: flex;
    padding: 10px;
}
.para{
    width: 50%;
    margin: 10px;
}
.img{
    width: 50%;
}
img{
    width: 98%;
    height: 90%;
}