body{
    font-family: sans-serif;
}
.header{
    background-image: url("Images/blog2.jpg");
    width: 100vmax;
    height: 30%;
}
.blur{
    background-color: black;
    width: 100vmax;
    height: 100%;
    opacity: 0.7;
}
.header h1{
    color:white;
    text-align: center;
    font-family: sans-serif;
    padding: 50px;
    justify-content: space-between;
}
.left-content .content h4{
    margin-top: 19px;
    
}
.left-content .content{
    margin-left: 10%;
}
.left-content .content h5{
margin-top: -25px;
}
.content img{
    width: 50%;
    height: 40%;
}
.content p{
    width: 50%;
}
.content button{
    width: 10%;
    height: 20px;
}
.r-content{
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    
}
.r-content1{
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-top: -76%;
}
.r-content img{
    width: 70%;
    height: 30%;
}
.r-content1 img{
    width: 70%;
    height: 30%;
}