.img{
    background-image: url("cricket1.jpg");
    height: 100px;
    width: 100%;
}
h5{
    font-family: sans-serif;
    font-size: 40px;
    color: #3e3d3df2;
    text-align: center;
}

.img1,.img2{
    height: 500;
    width: 500;
}
.ext1,.ext2,.ext3{
    height: 200;
    width: 200;
}
.main{
    display: flex;
}
.Main{
padding-left: 130px;
}
.Read_More{
border-radius: 12px;
border-color:  rgb(156, 25, 47);
font-size: 20;
}
button:hover{
background-color: rgb(156, 25, 47);
}
body{
border: solid black;
}